<link rel="stylesheet" href="/css/allAnima.css">

<section id="sim-main" class="container d-flex">
        <section id="sim-header" class="row">
                <form id="sim-type-form">
                        <p>Select Anima Source</p>
                        <input type="radio" id="mock-up" name="anima-source" value="mockUp" checked>
                        <label for="mock-up">Mock Up</label>
                        <br>
                        <input type="radio" id="card" name="anima-source" value="card">
                        <label for="card">Actual Cards</label>
                        <br>
                        <br>
                        <p>Select Combat Type</p>
                        <input type="radio" id="one-v-one" name="combat-type" value="oneVOne" checked>
                        <label for="one-v-one">1 v 1</label>
                        <br>
                        <input type="radio" id="two-v-one" name="combat-type" value="twoVOne">
                        <label for="two-v-one">2 v 1</label>
                        <br>
                        <input type="radio" id="three-v-one" name="combat-type" value="threeVOne">
                        <label for="three-v-one">3 v 1</label>
                        <br>
                        <input type="submit" value="Submit">
                </form>
        </section>
</section>

<script type="module" src="/js/allAnimaSim.js"></script>