<link rel="stylesheet" href="/css/allAnima.css">

<section id="sim-main" class="container d-flex">
        <section id="sim-header" class="row">
                <div class="row">
                        <div id="mock-up-rad" class="form-check"></div>
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                        Mock Up
                                </label>
                        </div>
                        <div id="card-rad" class="form-check"></div>
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                        Actual Cards
                                </label>
                        </div>
                </div>
                <div class="row w-100">
                        <div id="one-v-one-rad" class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                        1 v 1
                                </label>
                        </div>
                        <div id="one-v-two-rad" class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                        2 v 1
                                </label>
                        </div>
                        <div id="one-v-three-rad" class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                        3 v 1
                                </label>
                        </div>
                        <button id="sim-submit" type="button" class="w-50 btn btn-secondary btn-sm">Submit</button>
                </div>
        </section>
</section>

<script type="module" src="/js/allAnimaSim.js"></script>