<link rel="stylesheet" href="/css/sim.css">

<section id="sim-main" class="container d-flex">
        <section id="sim-header" class="row">
                <p>Sim Type</p>
                <div class="row">
                        <div id="loading-box" class="row">
                                <p class="d-flex">Loaded database:</p>
                        </div>
                        <div id="selection-box" class="row ">
                                <div id="line-1" class="row">
                                        <div class="dropdown col-md-2">
                                                <button id="animaSpdBtn"
                                                        class="w-100 btn-sm btn-secondary dropdown-toggle"
                                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Select Speed
                                                </button>
                                                <ul id="animaSpdList" class="dropdown-menu scrollable-menu">
                                                </ul>
                                        </div>
                                        <div id="spdSelection" class="col-md-2">selection 1</div>
                                </div>
                                <div id="line-2" class="row">
                                        <div class="dropdown col-md-2">
                                                <button id="animaOneBtn"
                                                        class="w-100 btn-sm btn-secondary dropdown-toggle"
                                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Anima One
                                                </button>
                                                <ul id="animaOneList" class="dropdown-menu scrollable-menu">
                                                </ul>
                                        </div>
                                        <div id="animaOneSelection" class="col-md-2">selection 2</div>
                                </div>
                                <div id="line-3" class="row">
                                        <div class="dropdown col-md-2">
                                                <button id="animaTwoBtn"
                                                        class="w-100 btn-sm btn-secondary dropdown-toggle"
                                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Anima Two
                                                </button>
                                                <ul id="animaTwoList" class="dropdown-menu scrollable-menu">
                                                </ul>
                                        </div>
                                        <div id="animaTwoSelection" class="col-md-2">selection 3</div>
                                </div>
                                <div id="line-4" class="row">
                                        <div class="dropdown col-md-2">
                                                <button id="animaThreeBtn"
                                                        class="w-100 btn-sm btn-secondary dropdown-toggle"
                                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Anima Three
                                                </button>
                                                <ul id="animaThreeList" class="dropdown-menu scrollable-menu">
                                                </ul>
                                        </div>
                                        <div id="animaThreeSelection" class="col-md-2">selection 4</div>
                                </div>
                                <div id="line-5" class="row">
                                        <div class="dropdown col-md-2">
                                                <button id="enemyBtn"
                                                        class="w-100 btn-sm btn-secondary dropdown-toggle"
                                                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        Select Enemy
                                                </button>
                                                <ul id="enemyList" class="dropdown-menu scrollable-menu">
                                                </ul>
                                        </div>
                                        <div id="enemySelection" class="col-md-2">selection 5</div>
                                </div>
                                <button id="sim-submit" type="button" class="w-25 btn btn-secondary btn-sm">Submit</button>
                        </div>
                </div>
        </section>
</section>

<script type="module" src="/js/simMain.js"></script>