<link rel="stylesheet" href="../css/sim.css">

<section id="sim-main" class="">
        <section id="sim-header" class="row justify-content-evenly">
                <p>Sim Type</p>
                <div class="row d-flex align-items-center">
                        <p class="d-flex">Loaded database:</p>
                        <p class="d-flex">Select new database</p>
                </div>
        </section>
</section>

<script src="/simMain.js"></script>